spring:
  datasource:
    url: "jdbc:mysql://localhost:3306/restdb?useUnicode=true&characterEncoding=UTF-8&serverTimezone=UTC"
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    database: mysql
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        # Show SQL
        show_sql: true
        # Format SQL
        format_sql: true

# Show bind values
logging:
  level:
    org.hibernate.orm.jdbc.bind: trace